@using VivesShop.Controllers
@model PreparedModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="table-responsive">
    <div style='float: left;' class="table-bordered">
        <h1>Arikelen</h1>
        <table class="table-bordered">
            <thead>
                <tr>
                    <td>OrderNr</td>
                    <td>Artikel</td>
                    <td>Soort</td>
                    <td>Prijs</td>
                    <td>BestelDatum</td>
                    <td>Status</td>
                    <td>Voltooien</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var prepareds in Model.BeingPrepared)
                {
                    <partial name="ItemPartial" model="prepareds" />
                }
            </tbody>
        </table>
    </div>
</div>

