@using VivesShop.Controllers
@model PreparedModel
@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht bestelling</h1>

<div class="table-responsive">
    <div style='float: left;' class="table-bordered">

        <table class="table-bordered">
            <thead>
            <tr>

                <td>Artikel</td>
                <td>Soort</td>
                <td>Prijs</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var beingordered in Model.BeingOrdered)
            {
                <partial name="OrderPartial" model="beingordered" />
            }
            </tbody>
        </table>
        Totaal: €@Model.BeingOrdered.Sum(item => item.Price)
    </div>
</div>

<a class="btn btn-info" asp-action="CreatePrepare" asp-route-id="@Model.BeingOrdered">Bewerken</a>